@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-font-color: #e8e8e8;
  --secondary-font-color: #a7a7a7;
  --secondary-card: #f2f1e7;
  --primary-background: #a5c2da;
  --secondary-background: #a1c5e0;
  --decoration-color: #ff0000;
  --star-rating: #ffd700;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

#content-root {
  padding-top: 50px;
}

.restaurant {
  width: 100%;
}

.restaurant-detail_container h4 {
  margin: 0;
}

.restaurant-detail_rating {
  margin-right: 15px;
}

.restaurant-detail_category {
  border-radius: 15px;
  font-size: 12px;
  padding: 5px 20px;
  color: white;
  background-color: var(--decoration-color);
}

.restaurant-detail_thumbnail {
  width: 100%;
}

.restaurant-detail_info,
.restaurant-detail_menu-list,
.restaurant-detail_review {
  margin-bottom: 40px;
}

.restaurant-detail__menu-list hr {
  margin-top: 0;
  margin-left: 0;
  width: 90px;
  border-bottom: 1px solid var(--decoration-color);
}

.restaurant-detail_foods,
.restaurant-detail_drinks {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  z-index: 99;
  border-color: var(--decoration-color) transparent var(--decoration-color) transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #121e279c;
  z-index: 100;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--decoration-color);

  position: fixed;
  bottom: 36px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

.review-container {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 8px;
  margin-bottom: 20px;
}

.customer-avatar {
  font-size: 32px;
  text-align: center;
  align-self: center;
}

.customer-review-date {
  font-size: 12px;
  color: var(--secondary-font-color);
}

.customer-review {
  grid-column-start: 2;
  grid-column-end: 3;
  margin: 5px 0 0;
}

.skip-content {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  z-index: 100;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
}

.skip-content:focus {
  top: 0;
}

a {
  text-decoration: none;
}

.header {
  color: var(--primary-font-color);
  background-color: var(--primary-background);
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.header__title {
  margin: 0;
  color: var(--decoration-color);
  font-size: 24px;
}

.header__menu,
.close__menu {
  display: none;
  font-size: 24px;
  min-width: 44px;
  min-height: 44px;
}

.close__menu {
  font-size: 44px;
}

#nav {
  font-size: 20px;
}

.nav a {
  color: var(--primary-font-color);
  position: relative;
  top: 0;
  transition: top ease 0.4s;
  padding: 1.3em;
}

.nav__item a:hover {
  color: var(--decoration-color);
}

.nav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav__list li {
  margin-left: 18px;
}

.hero {
  display: flex;
  margin: auto;
  align-items: center;
  min-height: 70vh;
  width: 100%;
  text-align: center;
  background-color: rgb(89, 89, 89);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  background-image: url("../public/images/heros/hero-image_4.jpg");
}

.hero__inner {
  margin: 0 auto;
  padding: 0px 20px;
}

.hero__title {
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 300;
}

main {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
}

section {
  margin-bottom: 40px;
}

.list-restoran__label {
  margin: auto;
  width: max-content;
  font-size: 22px;
}

.list-restoran {
  margin: 32px auto auto;
  text-align: left;
  display: grid;
  grid-gap: 16px;
}

.restoran-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.restoran-item_content {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.restoran-item_thumbnail {
  width: 100%;
  height: max-content;
  transition: transform ease 0.4s;
}

.restoran-item_city {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
}

.restoran-item_rating {
  color: var(--star-rating);
  font-weight: 600;
  text-decoration: none;
}

.restoran-item_description {
  margin-top: 16px;
  font-size: 12px;
  line-height: 1.5em;
}
.restaurant-item__not__found {
  position: absolute;
  left: 0;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--secondary-font-color);
}
.restaurant-item_name {
  font-weight: 700;
  font-size: 18px;
  margin-top: 16px;
  transition: 0.3s opacity;
}

.restaurant-item_name:hover {
  opacity: 0.5;
}

.restaurant-item_name {
  text-decoration: none;
  color: var(--primary-background);
}

.other {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

.jobs-item,
.info-item {
  background-color: var(--secondary-card);
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  transition: ease 0.4s;
  height: 550px;
}

.jobs-item:hover,
.info-item:hover {
  color: var(--primary-font-color);
  background-color: var(--secondary-background);
}

.jobs-item__content {
  padding: 16px;
}

.jobs-item__thumbnail {
  width: 100%;
  height: max-content;
}

.jobs-item__name {
  font-weight: 700;
  font-size: 24px;
  margin-top: 16px;
}

.jobs-item__city {
  font-size: 14px;
  bottom: 0;
}

.jobs-item__more {
  font-size: 14px;
  font-weight: 600;
}

.info-item {
  display: grid;
  grid-template-columns: 1fr;
}

.info-item__thumbnail {
  background-position: center;
  background-size: cover;
  height: 250px;
}

.info-item__more {
  font-size: 14px;
  font-weight: 600;
}

footer {
  background-color: var(--primary-background);
  padding: 2em;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 14px;
}

footer p {
  margin-top: 24px;
  color: #000;
}
